#map-index {
  
  background: rgba(238, 238, 238, 0.6);
  border-radius: 10px;
  
  img {
    width:246px; 
    height:399px; 
    display:block; 
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: Arial,sans-serif ;
  }
  
  #awesome {
    color: red;
    font-size: 40px;
  }
  
  #description {
   // background: rgba(238, 238, 238, 0.6);
   // border-radius: 10px;
  }
}
