#map-index {
  
  img {
    width:393px; 
    height:500px; 
    display:block; 
    margin:auto;
  }
  
  h2 {
    font-family: Arial,sans-serif ;
  }
  
  #awesome {
    color: red;
    font-size: 40px;
  }
}
