#map-show {
  
  background: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
  
  .title-content {
    color: black; 
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 20px;
  }
  
  .edit-new-button {
    padding-top: 20px;
    padding-right: 30px;
  }
  
  #map-icon {
    color: #ff4545;
    font-size: 30px;
  }
  
  #photo-icon {
    font-size: 27px;
  }
  
  #heart-icon {
    color: #66ef66;
    font-size: 30px;
  }
    
  .modal-content {
    width: 630px;
    height: 500px;
  }
  
  .map_container {
    width: 100%;
  }
  
  #map {
    height: 380px;
    width: 100%;
    margin: auto;
  }
  
  .toolbar {
    padding-top: 5px;
    padding-right: 30px;
  }

}
