#map-show {
  
  .title {
    color: blue; 
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .edit-new-button {
    padding-top: 20px;
  }
  
  #map-icon {
    color: #ff4545;
    font-size: 30px;
  }
  
  .toolbar {
    padding-top:10px;
  }

}
