<div id="map-edit" class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<h3>修改美食地點</h3>
	
	<hr>
	
	<%= simple_form_for @map do |f| %>
		<%= f.input :title, label: "Site", input_html: { class: 'form-control' }, placeholder: 'Enter your site here !' %>
		<%= f.submit "Submit", class: "btn btn-default", data: { disable_with: "Submitting..." } %>
	<% end %>
</div>
