<!-- Map index.html.erb -->
<div id="map-index" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="col-lg-7 col-lg-offset-0 col-md-7 col-md-offset-0 col-sm-7 col-sm-offset-3 col-xs-12 col-xs-offset-0">
    <img src="http://i.imgur.com/TG13YxS.png" usemap="#taiwan-gourmet" />
    <map name="taiwan-gourmet">
      <area shape="circle" coords="214,25,6" alt="keelung" href="/maps/1">
      <area shape="poly" coords="198,16,189,22,201,39,204,36" alt="taipei" href="/maps/2">
      <area shape="poly" coords="193,7,174,24,184,34,175,54,192,70,237,36,228,27,198,45,187,37,184,24,204,9" alt="new-taipei" href="/maps/3">
      <area shape="poly" coords="160,28,142,43,166,60,183,85,186,76,174,55" alt="taoyuan" href="/maps/4">
      <area shape="poly" coords="136,48,130,66,148,84,148,91,163,94,168,103,177,87,169,63" alt="hsinchu" href="/maps/5">
      <area shape="poly" coords="126,72,100,103,126,118,163,105,145,99,139,81" alt="miaoli" href="/maps/6">
      <area shape="poly" coords="97,106,85,129,102,150,112,151,123,139,172,124,183,114,169,106,142,121,117,124" alt="taichung" href="/maps/7">
      <area shape="poly" coords="82,135,60,171,99,180,96,153" alt="changhua" href="/maps/8">
      <area shape="poly" coords="103,157,102,196,120,201,123,213,142,213,159,196,166,132" alt="nantou" href="/maps/9">
      <area shape="poly" coords="54,178,42,208,57,208,96,189,97,183" alt="yunlin" href="/maps/10">
      <area shape="poly" coords="48,211,46,231,76,219,90,228,93,243,123,219,111,202,93,198,73,201" alt="chiayi" href="/maps/11">
      <area shape="poly" coords="43,238,31,259,51,277,76,279,96,249,84,244,77,225" alt="tainan" href="/maps/12">
      <area shape="poly" coords="50,282,73,328,80,287,115,282,126,244,140,235,134,217,106,240,76,282" alt="kaohsiung" href="/maps/13">
      <area shape="poly" coords="84,292,80,329,99,348,108,391,120,391,124,361,110,351,107,322,115,305,124,300,122,291" alt="pingtung" href="/maps/14">
      <area shape="poly" coords="224,58,175,102,220,115,229,87" alt="ilan" href="/maps/15">
      <area shape="poly" coords="188,116,175,141,166,188,142,226,167,253,182,219,191,208,214,124" alt="hualien" href="/maps/16">
      <area shape="poly" coords="133,243,123,278,130,293,127,304,114,313,120,353,142,306,175,260" alt="taitung" href="/maps/17">
      <area shape="circle" coords="18,208,15" alt="penghu" href="/maps/18">
    </map>
  </div>
  <br><br>
  <div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-3 col-xs-12 col-xs-offset-0" id="description">
    <div class="row text-center">
      <h3><em>Search or Recommend</em></h3>
      <h3><em>Any</em></h3>
      <h3><em><strong id="awesome">Awesome</strong></em> Restaurant ?</h3>
      <br><br>
      <h4><span class="glyphicon glyphicon-hand-right"></span> <strong>You Are at Right Place !</strong></h4>
      <br>
      <h3><strong>Click on the Map Now !</strong></h3>
    </div>
    <div class="row">
      <% if current_user %>
        <% if current_user.id == 1 %>
          <%= link_to "New Map", new_map_path, class: "btn btn-danger btn-sm pull-right" %><br>
          <% @maps.each do |map| %>
            <%= map.title %>
            <%= link_to("Edit", edit_map_path(map), class:"btn btn-default btn-xs btn") %>
		        <%= link_to("Delete", map_path(map), method: :delete, class:"btn btn-default btn-xs btn") %>
          <% end %>
        <% end %>
      <% end %>
	  </div>
  </div>
</div>


