#admin-restaurant-index {
  
  background: rgba(238, 238, 238, 0.8);
  border-radius: 10px;
  
  .title-content {
    padding-left: 20px;
  }
  
  #map-icon {
    color: #ff4545;
    font-size: 30px;
  }
  .toolbar {
    padding-top: 5px;
    padding-right: 30px;
  }
  
  #heart-icon {
    color: #66ef66;
    font-size: 30px;
  }
  
}
